@use 'styles/global';
@use 'styles/fonts';
@use 'styles/cursor' as cursor;

html,
body,
#join-container,
#game-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    @include cursor.reg;
}

#join-container {
    display: flex;
    flex-direction: column;

    & > span {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto-Black';
        font-size: 10rem;
    }
    & > #form-container {
        display: flex;
        justify-content: center;
    }
}

#join-form {
    display: flex;
    flex-direction: column;

    & > input {
        @include cursor.text;
        font-size: large;
    }
    & > .submit {
        @include cursor.pointer;
    }
}

#error-text {
    font-family: 'Roboto-Bold-Italic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    color: rgb(140, 25, 25);
    margin-top: 0.3rem;
    text-align: center;
    min-height: 15px;
}

#host-field {
    margin-bottom: 0.2rem;
}

#name-field {
    margin-bottom: 0.5rem;
}

#chat-container {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
}

#chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-messages > * {
    display: flex;
    padding: 0 0 0.5rem 0.6rem;
}

.chat-time {
    margin-right: 0.4rem;
}

.chat-username {
    font-weight: bold;
    margin-right: 0.4rem;
}

.chat-username::after {
    font-weight: bold;
    margin-left: 0.2rem;
    content: ':';
}

#chat-textbox {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #666;
}

#chat-textbox > span {
    font-weight: bold;
    margin-left: 0.6rem;
    display: flex;
    align-items: center;
}

#chat-textbox > span::after {
    font-weight: bold;
    margin-left: 0.2rem;
    margin-right: 0.3rem;
    content: ':';
}

#chat-textbox > input {
    flex-grow: 1;
    outline: none;
    background-color: transparent;
    border: 0;
}

#build-container {
    display: flex;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;

    position: absolute;
}

#list-container {
    width: 42rem;
    height: 42rem;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: scroll;
}

#grid-container {
    display: grid;
    width: 42rem;

    grid-template-columns: 14rem 14rem 14rem;
    grid-auto-rows: 14rem;
}

#grid-container > * {
    @include cursor.pointer;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#grid-container > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#mute-container {
    @include cursor.pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.4rem 0.7rem;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#minimap {
    position: absolute;
    outline: black 3px solid;
}
